html, body{
    margin: 0;
    padding: 0;
}

body{
	background: #2c3438;
	color: white;
	font-family: 'Ubuntu', sans-serif;
}

.experiment{
	width: 100%;
	height: 100vh;
}


.control{
	text-align: center;
	padding: 5px 0;
	margin-bottom: 10px;
}

.explanation{
	font-weight: 300;
}

.scene-container{
	text-align: center;
}

.scene{
	width: 280px;
	height: 280px;
	position: relative;
	perspective: 800px;
	perspective-origin: 0px 50%;
	padding: 20px;
	display: inline-block;
	margin-right: 100px;
	text-shadow: 0 1px rgba(0, 0, 0, 0.7);
}

.scene-rotator{
	width: 100%;
	height: 100%;
	transform-style: preserve-3d;
	transform-origin: 10px 50%;
	transition: transform 0.5s ease;
}

.scene-rotator.rotated {
    transform: rotateY(-110deg);
}

.frame{
	position: absolute;
	margin: 10px 10px;
	width: 100%;
	height: 100%;
	transform-origin: 0 50%;
	transition: opacity 0.5s ease;
}

.frame:nth-child(n+2){
	opacity: 0;
}

.scene-rotator.rotated .frame{
	opacity: 1;
}

.frame-0{
	transform: none;
}

.frame-30{
	transform: rotateY(30deg);
}

.frame-60{
	transform: rotateY(60deg);
}

.frame-90{
	transform: rotateY(90deg);
}

.frame-120{
	transform: rotateY(120deg);
}

.axis {
    border-color: #58c5f7;
    position: absolute;
}

.axis-y{
	top: 0;
	left: 0;
    height: 100%;
    border-left: 1px dashed;
}

.axis-x{
	left: 0;
    top: 100%;
    width: 100%;
    border-top: 1px dashed;
}

.axis-label {
    position: absolute;
    font-size: 12px;
}

.axis-label-x {
    top: 100%;
    left: 100%;
    margin-top: -0.5em;
    margin-left: 10px;
}

.axis-label.axis-label-y {
    top: 2em;
    text-align: right;
    left: 35px;
}

.circle{
    border-radius: 50%;
    width: 40%;
    height: 40%;
    border: 2px solid;
    position: absolute;
    left: 60%;
    top: 10%;
}
.circle-other {
    border-color: #F44336;
}

.circle-hyperion {
    border-color: gold;
    margin-left: 1%;
    margin-top: -2%;
    width: 41%;
    height: 41%;
}


.legend{
	display: inline-block;
	vertical-align: top;
	margin-top: 20px;
	text-align: left;
}

.legend-item {
    padding: 5px;
}

.legend-item>.box{
	display: inline-block;
	width: 1em;
	height: 1em;
	vertical-align: top;
}

.legend-item-other .box{
	background: #F44336;
}

.legend-item-hyperion .box{
	background: gold;
}




.experiment2{

}

.clipped{
	width: 300px;
    height: 300px;
    background: #ff7878;
    mask: url(#logo-clip);
}
